.listHeader{
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 35px;
}

.company, .agent{
    border-bottom: solid black 1px;
    padding-bottom: 15px;
    font-weight: bold;
}

.company__street, .agent__company{
    margin-bottom: 15px;
}

.searchResults{
    display:flex;
    flex-wrap: wrap;
}

.searchField{
    display: flex;
    flex-basis: 100%;
    text-align: center;
    justify-content: space-around;
}

.foundCompany, .foundAgent{
    flex-basis: 50%;
    margin: 0 auto;
    border-bottom: solid black 1px;
    text-align: center;
}

.searchField, .foundCompany, .foundAgent{
    margin: 0 auto;
}